<!doctype html>
<html>
<head><title>Selected Cells Viewer</title></head>
<body>
  <h1>Upload a scanned form (.png, .jpg, or .tiff)</h1>
  <form method="post" enctype="multipart/form-data">
    <input type="file" name="file" required>
    <input type="submit" value="Upload">
  </form>

  {% for page in result_imgs %}
  <div style="display: flex; margin-bottom: 20px;">
    {% for img in page %}
      <div style="margin-right: 10px;">
        <img src="{{ url_for('static', filename=img) }}" style="height: 120px;">
      </div>
    {% endfor %}
  </div>
{% endfor %}



  
</body>
</html>
